button{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: semibold;
    cursor: pointer;
    transition: all 0.3s ease;
}
