/* Styles for the header */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* Styles for the navbar */
  nav {
    background-color: #7bd5da;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #000;
  }
  
  /* Styles for the section */
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  section p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    flex-basis: 30%;
    margin-right: 10px;
    text-align: center;
  }
  @media screen and (max-width: 800px) {
    * {
        box-sizing: border-box;
      }
      
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
      }
    nav {
        background-color: #c77bda;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
      }
    nav ul {
    color: rgb(18, 92, 67);
    flex-direction: column;
    align-items: center;
    }
    section p {
        font-size: 1.2rem;
        line-height: 1.5;
      }
    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
  }
  
  @media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
      }
      
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
      }
    nav {
        background-color: #7bd5da;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
      }
    nav ul {
    color: rgb(18, 92, 67);
    flex-direction: column;
    align-items: center;
    }
    section p {
        font-size: 1.2rem;
        line-height: 1.5;
      }
    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
  }

  